<% if key['is_dir'] == true %>
  <h3>
    <%= link_to url_for(path: key['path']), class: 'button' do   %>
      <i class="fa fa-folder"></i>
      <%= key['path'].split('/').last.titleize %>
      <% if @client.metadata("#{key['path']}")['contents'] %>
        (<%= @client.metadata("#{key['path']}")['contents'].count  %>)
      <% end %>
    <% end %>
  </h3>
<% end %>
