.row
  .page-header
    %h1.text-center
      Find Eye of Horus in the Phillipines

.row
  .columns.large-12.text-center
    %h3 
      Looking for Eye of Horus products in the Phillipines? Please checkout our trusted partner:
    = link_to 'http://glamourbox.ph/index.php/view/brand_view/13' do 
      = image_tag('glamourbox.jpg')
      %br/ 
      Shop Now &raquo;


