.row
  .page-header
    %h1.text-center
      Find Eye of Horus in the Philippines

.row
  .columns.large-12.text-center
    %h3 
      Looking for Eye of Horus products in the Philippines? Please checkout our trusted partner:
    = link_to 'http://glamourbox.ph/index.php/view/brand_view/13' do 
      = image_tag('glamourbox.jpg')
      %br/ 
    = link_to 'http://glamourbox.ph/index.php/view/brand_view/13', class: 'button' do 
      Shop Now &raquo;

.row
  .columns.large-12
    %h3 Our Products
    %ul#products.small-block-grid-6


