.row
  .page-header
    %h1 Become a stockist
.row
  .columns.large-8
    %p Stuff here about this and that.
    %h4 Downloads
    %ul
      - 10.times do
        %li 
          Some list
          = link_to 'some link', '#'
  .columns.large-4
    %h4 How to etc.
    %p some news feed


