- content_for(:footer_scripts) do
  :javascript
    $("#dropbox").html("#{escape_javascript(render(:partial => 'droppy'))}");

.row
  .page-header
    .columns.large-12{style: 'color: #fff;'}
      %h1 Media Center
      #dropbox

.clearfix
%br/
