<table>
  <tr>
    <td style="font-weight: strong">Monthly Sales</td><td>$100.00</td> <!-- 30 days -->
    <td style="font-weight: strong">Previous Month Sales</td><td>$80.00 (arrow up or down)</td> <!-- 30 days - 60 days -->
    <td style="font-weight: strong">Annual Sales</td><td>$1000.00</td> <!-- 365 days -->
    <td style="font-weight: strong">Total Sales to Date</td><td>$1000.00</td>
  </tr>
</table>
