.stockist-logo { text-align: center; text-transform: uppercase;}

.features.columns { 
  text-align: center;
}

footer {
  margin-top: 0; 
}

.panel i { 
  font-size: 1.5em; 
  padding: .3em;
}

.row.stockist { margin-bottom: 14px; padding-bottom: 0; }
#map { height: 500px; width: 100%; }
.actions { text-align: right;}

.stockist_description { width: 180px; height: 86px;  }

.top-bar-section .dropdown li.country a{line-height:16px;}


// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { 
  #map { height: 250px; width: 80%; } 
  .actions { text-align: left;}
  .top-bar-section .dropdown li.country a{line-height:16px;max-height:3vh;}
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */
