.feature{style: 'text-align: center;'}
  %h4
    Buy #{c('site_name')} Online
  %p
    All the latest #{c('site_name')} products available in our online store with fast delivery, great rewards and so much more. #{c('site_slogan')}.
    %br/
    = link_to 'Shop now', 'http://eyeofhoruscosmetics.com/?src=stockists'
