.feature{style: 'text-align: center;'}
  %h4
    Join our VIP Goddess Membership
  %p
    Be rewarded with exclusive VIP Goddess Member privileges, including best prices, 10% discount every day, new product sneak peeks and trials, freebies, gift-with-purchase, and competitions.
    %br/
    = link_to 'Join now', 'http://eyeofhoruscosmetics.com/pages/become-a-goddess'
